<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="CREATED" CONTENT="0;0">
	<META NAME="CHANGED" CONTENT="20150624;123844000000000">
	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in; margin: 1in }
		P { margin-bottom: 0.1in; direction: ltr; font-variant: normal; color: #000000; line-height: 120%; text-align: left; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: avoid }
		P.western { font-family: "Calibri", serif; font-size: 11pt; so-language: en-US; font-style: normal; font-weight: normal }
		P.cjk { font-family: "Calibri"; font-size: 11pt; so-language: zh-CN; font-style: normal; font-weight: normal }
		P.ctl { font-family: "Calibri"; font-size: 10pt; so-language: hi-IN }
		A:link { so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" BGCOLOR="#ffffff" DIR="LTR">
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=4><SPAN STYLE="font-style: normal"><B>Josh
Bonnell</B></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">919
Mission Boulevard, Fayetteville, AR 72701</SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">(479)
595-2715 - cell,</SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">
</SPAN></SPAN></FONT></SPAN></FONT></SPAN><FONT COLOR="#000080"><SPAN LANG="zxx"><A HREF="mailto:joshrbonnell@gmail.com"><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">joshrbonnell@gmail.com</SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></A></SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=4><I><B>Objective</B></I></FONT></FONT></SPAN></FONT></SPAN></P>
<UL>
	<LI><P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
	<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">Full
	time job in software development</SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
</UL>
<P CLASS="western" ALIGN=LEFT STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=4><I><B>Education</B></I></FONT></FONT></SPAN></FONT></SPAN></P>
<UL>
	<LI><P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
	<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">B.S.
	in Computer Science, University of Arkansas, Fayetteville, December
	2013</SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
</UL>
<P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=4><I><B>Experience</B></I></FONT></FONT></SPAN></FONT></SPAN></P>
<UL>
	<LI><P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
	<FONT FACE="Arial, serif"><FONT SIZE=3><B>07/2014 - 03/2015 -
	Software Developer at SOAPware, Inc</B></FONT></FONT></P>
</UL>
<P CLASS="western" ALIGN=LEFT STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<FONT FACE="Arial, serif"><FONT SIZE=3>SOAPware, Inc is a provider of
Electronic Health Record software for use by healthcare providers and
medical patients. I worked as a software developer for SOAPware’s
online patient portal “myHEALTHware,” which provides patients
with an environment from which to interact with their healthcare
provider, performing such actions as scheduling appointments, viewing
medical documents, personally messaging their doctors, and more. The
myHEALTHware system is written primarily in C# using .NET for the
back-end, and AngularJS/jQuery for the front end. Specifically, I was
part of a two-man “rapid response” team, responsible for quickly
verifying and fixing all front-end and back-end bugs identified by
users, other developers, and the Quality Assurance team.
Additionally, when time permitted, I would take on various tasks for
other developers as needed, and update the site’s various
frameworks (AngularUI, Twitter Bootstrap, CSS, etc) to keep the site
looking and feeling modern. </FONT></FONT>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<BR>
</P>
<UL>
	<LI><P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
	<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><B>10/2013
	– </B></SPAN></FONT></FONT></SPAN></FONT></SPAN><FONT FACE="Arial, serif"><FONT SIZE=3><B>07/2014</B></FONT></FONT><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><B>
	– Technical Assistant 1 at BASIS, University of Arkansas</B></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
</UL>
<P CLASS="western" ALIGN=LEFT STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">BASIS
(Business and Administrative Strategic Information System) is the
in-house software suite that handles all of the University of
Arkansas’s financial affairs, business affairs, human resources,
and procurement demands. Using the Adabas database management system
in conjunction with the Natural programming language, I am
responsible for a myriad of tasks: writing applications to assist
users in accessing and processing financial data, writing
applications to assist the system architect in making sense of
database usage statistics, interfacing the database with 3</SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><SUP><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">rd</SPAN></SPAN></FONT></FONT></SUP></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">
party applications, monitoring error logs to detect and fix conflicts
that arise from said 3</SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><SUP><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">rd</SPAN></SPAN></FONT></FONT></SUP></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">
party applications, and meeting with users on campus to talk with
them about what they would like to see improved or added to BASIS.</SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
<P CLASS="western" ALIGN=LEFT STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=4><I><B>Skills</B></I></FONT></FONT></SPAN></FONT></SPAN></P>
<UL>
	<LI><P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
	<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">C#,
	Javascript, AngularJS, </SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><FONT FACE="Arial, serif"><FONT SIZE=3>jQ</FONT></FONT><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">uery,
	PHP, HTML, CSS</SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
	<LI><P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
	<FONT FACE="Arial, serif"><FONT SIZE=3>Familiar with Agile software
	development practices and the SCRUM methodology. </FONT></FONT>
	</P>
	<LI><P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; widows: 2; orphans: 2">
	<FONT FACE="Arial, serif"><FONT SIZE=3><SPAN STYLE="text-decoration: none">Microsoft
	Office (Word, Excel, PowerPoint).</SPAN></FONT></FONT></P>
</UL>
<P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: avoid">
<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=3><I><B>*References
available upon request</B></I></FONT></FONT></SPAN></FONT></SPAN></P>
</BODY>
</HTML>
