<!-- Site footer -->
<div id="footer" class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="col-md-4">
            <h3><a href="http://www.twitter.com/thesmokinghyena">@thesmokinghyena</a></h3>
            <p>Follow me on Twitter!</p>
        </div>
        <div class="col-md-4">
          <h3><a href="<%= visitors_path %>" title="Show us some love!" style="color: #FF69B4">
            <i class="fa fa-heart-o fa-2x"></i>
          </a></h3>
        </div>
        <div class="col-md-4">
            <h3><span class="glyphicon glyphicon-music"></span> Footer section 3</h3>
            <p>Content for the third footer section.</p>
        </div>
    </div>
</div>
